package.json
node_modules
build
dist
yarn.lock
.editorconfig
.gitignore
.eslintignore
.prettierignore
.node-version
.nvmrc
.husky/*
.github/*
*.svg
*.png
*.jpg
*.gif
*.mp4
*.ico
*.woff2
.gitkeep
*.ejs.t
*.code-snippets
*.pdf
.npmrc
