$color-primary: #4d44b5;
$color-secondary-one: #2d3748;
$color-secondary-two: #718096;
$color-secondary-three: #e2e8f0;
$color-secondary-four: #48bb78;
$color-black: #000000;
$color-gray: #38465e;
$color-gray-light: #a0aec0;
$color-white-light: #f8f9fa;
$color-white: #ffffff;
$color-info: #2f80ed;
$color-green: #27ae60;
$color-orange: #e2b93b;
$color-warning: #ff6712;
$color-error: #e53e3e;
$color-button-hover: #665cdc;
$color-button-disabled: rgba(77, 68, 181, 0.7);
$color-red: #ff4949;
$color-shadow-image: rgba(0, 0, 0, 0.15);
